extend ../layout

block body
  .container
        header
          img.header-logo(src="/images/logo.jpg")
          .header-info
            span.header-info-caption= __('headerCaption')
            span.header-info-description= __('headerDescription')
        main
          .main-block.main-block-about
            .main-block-caption
              a(href="http://v.qq.com/vplus/8d867c94826823cfdef1e7c7ee68744c", target="_blank")
                = __('about')
                sup
                  i.fa.fa-external-link.fa-fw
            .main-block-content
              .main-block-webchat
                img(src="/images/qr.jpg")
                span= __('weChat')
              .main-block-subscribe
                img(src="/images/subscribe.png")
                span= __('subscribe')
          .main-block.main-block-contact
            .main-block-caption
              = __('contact')
            .main-block-content
              span +86 17051039561

        footer
          span= __('companyName')
            = " "
            | &copy; 2016
          span
            a(href="?lang=en") Eng
            = " | "
            a(href="?lang=zh-CN") 中
